# Lines starting with '#' are considered comments.
# Ignore byte-compiled files
*.elc
*~
/lisp/emtest/TAGS
/lisp/.nosearch
/lisp/emtest/runners/registrations.el
/lisp/emtest/viewer/testral/registrations.el
/lisp/emtest/explorers/registrations.el
