# Lines starting with '#' are considered comments.
# Ignore byte-compiled files
*.elc
*~
/lisp/emtest/TAGS
/lisp/.nosearch
/lisp/emtest/runner/loadexplorers.el
/lisp/emtest/viewer/testral/registrations.el
/lisp/emtest/runner/runners/def-runners.el
